.navbar {
  background-color: rgb(217, 151, 66);
  height: 60px;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(89, 5, 68);
  }
}
