.add {
  width: 500px;
  height: 400px;
  //   background-color: rgb(156, 113, 56);
  //   margin: 50px auto;
  padding: 50px;
}

.item {
  width: 80px;
  height: 20px;
  margin: 10px;
  border: none;
}
.chose {
  background-color: rgb(183, 173, 35);

  width: 360px;
  height: 45px;
  margin: 20px;
  border: none;
}
.addbtn {
  margin-left: 50%;
  background-color: rgb(33, 78, 150);
  width: 60px;
  height: 20px;
  border: none;
  border-radius: 4px;
}
